body{  
    font-family: 'Dela Gothic One', cursive;
    background: white;
    text-align: center;
    color: black;
}
.outputs{
    margin-left: 400px  !important;
}
.outputs h5{
    width: 400px !important;
}
.header_div{
    font-family: "Courier New",monospace;
    background: white;
    color:red;
}
.header_div img{
    width: 150px;
}
.header_div h2{
    font-size:20px;
}
.header_div p{
    font-size: 27px;
    font-family: 'Dela Gothic One', cursive;
    color: black;
}
#GLens{
    width: 150px;
    height: 150px;
}
#logo{
    border-radius: 5px;
}
.text_images_and_result{
    background: white;
    padding-top: 50px;
    padding-left: 50px;
    border: 3px solid grey;
    box-shadow: 5px 5px 18px black;
    width: 1000px;
    border-radius: 25px;
    margin-left: 100px;
    margin-bottom: 50px;
    height: fit-content;
}
.bottom{
    background: palevioletred;
    border: 3px solid grey;
    box-shadow: 5px 5px 18px black;
    width: 1000px;   
    margin-bottom: 50px;
}
.text_images_and_result img{
    background: white;
    width: 350px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
    border-radius: 20px;
}
.bob3{
    background: grey;
    border: 3px solid rgb(66, 65, 65);
    box-shadow: 5px 5px 18px black;
    width: 400px;
    border-radius: 10px;
}
.purple{
    color: indigo;
}
hr{
    background-color: black;
}
#line{
    color: rgba(255, 255, 255, 0);
}
